


.container_card {
    border: solid 2px white;
    max-height: 300px;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.id {
    font-size: 10px;
}

.name {
    font-size: 15px;
}

.img{
    width: 110px;
    height: 150px;
}