
/* Estilos base para el botón */
.container_button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #293241;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  
  /* Animación de crecimiento al colocar el cursor sobre el botón */
  .container_button:hover {
    transform: scale(1.1);
    background-color: #0056b3;
  }
  
  /* Cambio de color al hacer clic en el botón */
  .container_button:active {
    background-color: #003f80;
  }
  
  /* Estilo adicional para cuando se le da foco al botón (puede ser útil para accesibilidad) */
  .container_button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }


  @media screen and (max-width: 700px) {
    .container_button{
      margin-bottom: 1rem;
    }
}
