

.active {
    background-color: #293241;
    color: white;
}


.button_container {
    text-align: center;
    margin-top: 0px;
  }
  
  .pagination_button {
    /* color: #fff; */
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
