

.active {
    background-color: #293241;
    color: white;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.total_pages{
  margin-right: 1.5rem;
}


.button_container {
    text-align: center;
    margin-top: 0px;
  }
  
  .pagination_button {
    /* color: #fff; */
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
